# IIS configuration
iis:
  dotnetfx:
    version: 4.7.2
  vhosts:
    example.com:
      password: 'totallysecret'
    example.net:
      password: 'totallysecret'
    example.org:
      password: 'totallysecret'
      startmode: AlwaysRunning
      preload: True

#placeholder:
#  install: True
#  template: 'salt://iis/templates/placeholder.html.jinja'
#  template_type: jinja
